<!--
    MONO
    Copyright (C) 2015  Universidad de los Andes

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<style type="text/css">
    /* Custom container */
    .container_custom {
        margin: 0 auto;
        max-width: 1000px;
    }

    /* Main marketing message and sign up button */
    .central_panel {
        margin: 40px 0;
        text-align: center;
    }

    .central_panel h1 {
        font-size: 100px;
        line-height: 1;
    }
</style>

<div class="container_custom">

  <div class="central_panel">
    <div class="row-fluid">
      <div class="span3">
        <%= image_tag "/images/intro.png", :size => "230x200" %>
      </div>
      <div class="span7">
        <h1>MONO</h1>

        <p>Versión: 3.3.2</p>

        <p style="    text-align: justify;text-justify: inter-word;">Mono es un software open source (código abierto),
          bajo licencia <a href="http://www.gnu.org/licenses/gpl-3.0.en.html">GPLv3</a>, diseñado para integrar, controlar y optimizar procesos de desarrollo de contenidos
          digitales, además de hacer seguimiento en la utilización de recursos, tiempos de desarrollo, responsabilidades
          y costos de proyectos que son ejecutados de forma colaborativa entre distintas empresas aliadas. </p>
      </div>
    </div>
  </div>
  <hr>
  <div class="row-fluid">
    <div class="span3">
      <h2>Directores</h2>

      <p><strong>Product Owner</strong>: Pablo Figueroa</p>

      <p><strong>Architecture Owner</strong>: Dario Correal</p>

      <p><strong>Scrum Master</strong>: Oscar Gonzales</p>
    </div>
    <div class="span4">
      <h2>Desarrolladores</h2>

      <div class="row-fluid">
        <div class="span6">
          <p>Jose Dorado</p>
          <p>Leidy Lozano</p>
          <p>Juan Moreno</p>
          <p>Ramiro Serrano</p>
          <p>Nixon Duarte</p>
        </div>
        <div class="span6">
          <p>Andres Castillo</p>
          <p>Diego Hoyos</p>
          <p>Luis Mendivelso</p>
          <p>Manuel Camargo</p>
          <p>Jaime Lopez</p>
        </div>
      </div>
    </div>
    <div class="span4">
      <h2>Empresas</h2>
      <img src="/images/uniandes.png" alt="">
      <img src="/images/logo_cg.jpg" alt="" width="146px" height="44px">
      <img src="/images/logo_or.jpg" alt="" width="146px" height="44px">
      <img src="/images/logo_qc.png" alt="" width="146px" height="44px">
      <img src="/images/logo_en.png" alt="" width="146px" height="44px">
    </div>
  </div>

</div>